.macro-page-layout {
	flex-direction: column;
	padding: 8rem;

	h1 {
		font-size: xx-large;
	}

	.highlight-container {
		display: grid;
		grid-auto-flow: column;
		grid-column-gap: 10px;
		.today-yesterday-container {
			border: solid;
			border-radius: 16px;
			padding: 2rem;
			margin-bottom: 2rem;

			h1 {
				font-size: x-large;
			}
		}
	}

	.yesterday-container {
		padding: 8rem;

		h1 {
			font-size: x-large;
		}
	}

	.more-container {
		padding: 2rem;
	}
}
