$spacing: 1rem;

.macro-row {
	display: flex;
	justify-content: center;
	flex-direction: row;

	.macro-option {
		padding: $spacing;
	}

	.macro-button {
		height: min-content;
		align-self: center;
	}
}

.macro-input-container {
	padding: $spacing;

	.macro-input {
		align-self: center;
		width: 5rem;
	}
}

.edit-input-container {
	display: flex;
	align-self: center;

	.edit-input {
		width: 5rem;
	}
}
