$spacing: 1rem;

.macro-row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: fit-content;
	margin-bottom: 1rem;

	.macro-meal {
		font-size: x-large;
		font-weight: 600;
	}

	.macro-option {
		padding-left: 1rem;
		padding-right: 1rem;
		align-self: center;

		p {
			justify-content: center;
		}
	}

	.macro-button {
		height: min-content;
		align-self: center;
	}
}

.macro-input-container {
	padding: $spacing;

	.macro-input {
		align-self: center;
		width: 5rem;
	}
}

.edit-input-container {
	display: flex;
	align-self: center;

	.edit-input {
		width: 5rem;
	}
}
